.head_new_pass {
  text-align: center;
}

.update_pass_form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update_pass_form > div {
  width: 280px;
}

.update_pass_form > button {
  width: 280px;
  margin-top: 16px;
}

.new_pass fieldset > legend > span {
  padding-left: 30px;
}

.confirm_pass fieldset > legend > span {
  padding-left: 108px;
}
