.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form > div {
  width: 280px;
}

.form button {
  width: 280px;
}

.p_info {
  text-align: center;
}

.container_message p {
  width: 280px;
  font-size: 14px;
  margin-top: 8px;
}
